<!DOCTYPE html>
<html lang="en">
<head>
    <title>视讯科技</title>
    <!-- custom-theme -->
    <meta name="baidu-site-verification" content="z8EeuYl0nS" />
    <meta name="keywords" content="视讯科技">
    <meta name="description" content="视讯科技">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //custom-theme -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/basic.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/hover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/base.js" type="application/javascript"></script>
    <script src="js/rem.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
</head>

<body>
    <div class="configHead"></div>
   
    <div id="app">
        <header>
         
        <div class="banner">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" class="active"></li>
                    <li data-target="#carousel"></li>
                </ol>
                <div class="banner_rightTxt">
                    <span>SHI XUN KE JI</span>
                </div>
                <div class="carousel-inner" role="listbox">
                    <div v-for="(item, index) in bannerData.mainImg" class="item" :class="index=='0'?'active':''">
                        <img :src="item.url" alt="..." class="img-responsive">
                    </div>
                </div>
                <div class="container">
                    <div class="banner_content">
                        <span>SHI XUN KE JI</span>
                        <p class="hidden-xs">智能交通事件检测器</p>
                        <p class="hidden-xs">视频监控平台</p>
                        <a class="hidden-xs">Intelligent traffic event detector.Video monitoring platform.</a>
                        <div class="watch_video">
                            <a class="">观看视频</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_height">
            <div class="video">
                <div class="video_cont">
                    <div class="video_left hidden-xs hidden-sm"  >
                        <!-- <a href="#" v-if="videoData[0].bannerImg&&videoData[0].bannerImg.length>0">
                             <img :src="videoData[0].bannerImg[0].url" class="img-responsive">
                        </a> -->
                        <video width="100%" height="100%" controls>
                          <source src="media/video.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_right">
                        <div class="right_cont">
                            <p class="eng_tlt">
                                OUR ADVANTAGE
                            </p>
                            <p class="zh_tlt">
                                我们的优势
                            </p>
                            <p class="description">
                                文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉
                            </p>
                            <div class="design_process">
                                <div class="design_thread"></div>
                                <div class="design">
                                    <div class="process_item" v-for="item in videoData">
                                        <div class="pro_icon">
                                             <img :src="item.mainImg&&item.mainImg.length>0?item.mainImg[0].url:''" class="img-responsive">
                                        </div>
                                        <div class="process_des">
                                            <div class="des_tlt">{{item.title}}</div>
                                            <p>{{item.description}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case">
                <div class="case_cont">
                     <p class="eng_tlt">
                       OUR ADVANTAGE
                    </p> 
                    <h2 class="case_tlt">行业案例</h2>
                    <div class="case1" v-if="caseData[0]&&caseData[0].mainImg">
                        <div class="case1_cont" :data-id="caseData[0].id" @click="intoDetail">
                            <div class="case1_left caseLeft"  :data-id="caseData[0].id" @click="intoDetail">
                                <p  :data-id="caseData[0].id" @click="intoDetail">{{caseData[0].keywords}}</p>
                                <div class="span"  :data-id="caseData[0].id" @click="intoDetail">{{caseData[0].description}}</div>
                            </div>
                            <div class="case1_right caseRight">
                                <img :src="caseData[0].mainImg[0].url" class="img-responsive"  :data-id="caseData[0].id" @click="intoDetail">
                            </div>
                        </div>
                    </div>

                    <div class="case1" v-if="caseData[1]&&caseData[1].mainImg">
                        <div class="case1_cont" :data-id="caseData[1].id" @click="intoDetail">
                            <div class="case1_right case2_left caseLeft"  :data-id="caseData[1].id" @click="intoDetail">
                                <img :src="caseData[1].mainImg[0].url" class="img-responsive"  :data-id="caseData[1].id" @click="intoDetail">
                            </div>
                            <div class="case1_left caseRight"  :data-id="caseData[1].id" @click="intoDetail">
                                <p :data-id="caseData[1].id" @click="intoDetail">{{caseData[1].keywords}}</p>
                                <div class="span" :data-id="caseData[1].id" @click="intoDetail">{{caseData[1].description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product_tlt">
                    <p class="eng_tlt">
                        OUR ADVANTAGE
                    </p> 
                    <h2 class="case_tlt">产品中心</h2>
                </div>
                <div class="product_cont">
                    <div class="fade_left">
                        <div class="product_left" id="productCase" v-if="productData[0]&&productData[0].mainImg">
                            <div :data-id="productData[0].id" @click="intoDetail">
                                <img :src="productData[0].mainImg[0].url" :data-id="productData[0].id" class="img-responsive">
                                <div class="left_tlt" :data-id="productData[0].id">
                                    <p class="p1">{{productData[0].title}}</p>
                                    <div class="p2">{{productData[0].description}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_right" class="img-responsive" id="productCase">
                            <div  v-if="productData[1]&&productData[1].mainImg">
                                <img :src="productData[1].mainImg[0].url" class="img-responsive" :data-id="productData[1].id"@click="intoDetail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_cont1">
                    <div class="fade_right">
                        <div  class="product_left1" id="productCase" v-if="productData[2]&&productData[2].mainImg">
                            <div  :data-id="productData[2].id"  @click="intoDetail">
                                <img :src="productData[2].mainImg[0].url" class="img-responsive" :data-id="productData[2].id"  @click="intoDetail">
                                <div class="left_tlt" :data-id="productData[2].id">
                                    <p class="p1">{{productData[2].title}}</p>
                                    <div class="p2">{{productData[2].description}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_right1" class="img-responsive" id="productCase" v-if="productData[3]&&productData[3].mainImg">
                            <div class="right_tlt" :data-id="productData[3].id" @click="intoDetail">
                                <div class="tlt_all" :data-id="productData[3].id" @click="intoDetail">
                                    <p class="p1">{{productData[3].title}}</p>
                                    <p class="p2">{{productData[3].description}} </p>
                                </div>
                                <a  :data-id="productData[3].id" @click="intoDetail">了解详情</a>
                            </div>
                            <div class="cooper1_img hidden-xs" v-if="productData[3]&&productData[3].mainImg">
                                <img :src="productData[3].mainImg[0].url" class="img-responsive"  :data-id="productData[3].id"  @click="intoDetail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="footer">
    </div>
   <!--  <div id="preloader">
        <div id="loading-wrapper">
          <div id="loading-text">LOADING</div>
          <div id="loading-content"></div>
        </div>
    </div> -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript " src="js/bootstrap.js"></script>
    <script src="js/my.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script type="text/babel">
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                bannerData: [],
                productData: [],
                caseData: [],
                videoData:[],
                labelData: [],
                paginate: {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },
                searchItem: {
                    thirdapp_id: 59,
                    menu_id: 385,
                },
                show_id:'',
                show_child_id:'',
                is_show:false,
                pageArray: [],
                allPages: 0,
                linkPage: '',
                
            }

        },

        created: function() {
            this.getProductData();
            this.getBannerData();
            this.getCaseData();
            this.getVideoData();

        },
        methods: {
            getVideoData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 428,
                };

                var callback = (res) => {
                    self.videoData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getProductData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 401,
                };

                var callback = (res) => {
                    self.productData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getCaseData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 412,
                };

                var callback = (res) => {
                    self.caseData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getBannerData() {
                var self = this;

                var postData = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                    searchItem: {
                        thirdapp_id: 59,
                        id: 21
                    }
                };

                var callback = (res) => {
                    self.bannerData = res.info.data[0];
                    console.log(self.bannerData)
                };
                window.base.articleList(postData, callback);
            },


            changePage(e) {
                var self = this;
                var dataSet = window.base.getDataSet(e);
                window.base.changePage(dataSet, self);
            },

            changeMenu(e) {
                var self = this;
                self.paginate = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                };
                self.searchItem.menu_id = window.base.getDataSet(e).id;
                self.getArticleData();
            },

            linkTo(e) {
                var self = this;
                console.log(e);
                self.linkPage = window.base.getDataSet(e).page;
                window.base.linkTo(self);

            },

            intoDetail(e) {
                var self = this;
                var art_id = window.base.getDataSet(e).id;
                window.location.href = "./detail.html?id=" + art_id;
            },

        }
    });
    $(function(){
        $('.configHead').load('./header.html');
        $('#footer').load('./footer.html');
    });
    </script>

     
    <script type="text/javascript">
   
    setTimeout(function(){
        $("#loading-wrapper").fadeOut(); 
        $("#preloader").fadeOut();
    },300)

    $(document).ready(function() {
        $('.video').waypoint(function(direction) {
        if (direction === 'down' && !$(this.element).hasClass('animated')) {
            $('.video .process_item').each(function(k) {
                var el = $(this);

                setTimeout(function() {
                    el.addClass('fadeInDown animated');
                }, k * 200, 'easeInOutExpo');
            });
        }
        console.log(999)
    }, {
        offset: '600px'

    });

     $('.product').waypoint(function(direction) {

        if (direction === 'down' && !$(this.element).hasClass('animated')) {


            $('.fade_left').each(function(k) {
                var el = $(this);

                setTimeout(function() {
                    el.addClass('fadeInLeft animated');
                }, 1 * 100, 'easeInOutExpo');

            });
        $('.fade_right').each(function(k) {
                        var el = $(this);

                        setTimeout(function() {
                            el.addClass('fadeInRight animated1');
                        }, 1 * 100, 'easeInOutExpo');

                    });

        }
    }, {
        offset: '200px'

    });

     $('.case').waypoint(function(direction) {

        if (direction === 'down' && !$(this.element).hasClass('animated')) {
    
           $('.caseLeft').addClass('fadeInLeft animated');  
           $('.caseRight').addClass('fadeInRight animated');
          
        }
    }, {
        offset: '100px'

    });
    });
    
</script>
</body>

</html>