<!DOCTYPE html>
<html lang="en">
<head>
    <title>视讯科技</title>
    <!-- custom-theme -->
    <meta name="baidu-site-verification" content="z8EeuYl0nS" />
    <meta name="keywords" content="视讯科技">
    <meta name="description" content="视讯科技">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //custom-theme -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/basic.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/hover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/base.js" type="application/javascript"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <style>
    .dropup,
    .dropdown {
        position: none;
    }
    </style>
</head>

<body>
    <div class="configHead"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.configHead').load('./header.html');
        });
    </script>
    <div id="app">
        <header>
         
        <div class="banner">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" class="active"></li>
                    <li data-target="#carousel"></li>
                </ol>
                <div class="banner_rightTxt">
                    <span>SHI XUN KE JI</span>
                </div>
                <div class="carousel-inner" role="listbox">
                    <div v-for="(item, index) in bannerData.mainImg" class="item" :class="index=='0'?'active':''">
                        <img :src="item.url" alt="..." class="img-responsive">
                    </div>
                </div>
                <div class="container">
                    <div class="banner_content">
                        <span>SHI XUN KE JI</span>
                        <p class="hidden-xs">智能交通事件检测器</p>
                        <p class="hidden-xs">视频监控平台</p>
                        <a class="hidden-xs">Intelligent traffic event detector.Video monitoring platform.</a>
                        <div class="watch_video">
                            <a class="">观看视频</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video">
            <div class="video_cont">
                <div class="video_left">
                    <video loop="true">
                        <source src="media/1.mp4" type="video/mp4" style="width:800px;height:100%;">
                    </video>
                </div>
                <div class="video_right">
                    <div class="right_cont">
                        <p class="eng_tlt">
                            OUR ADVANTAGE
                        </p>
                        <p class="zh_tlt">
                            我们的优势
                        </p>
                        <p class="description">
                            文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉
                        </p>
                        <div class="design_process">
                            <div class="design_thread"></div>
                            <div class="design">
                                <div class="process_item">
                                    <div class="pro_icon"><img src="images/index_icon1.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                                <div class="process_item second_process">
                                    <div class="pro_icon"><img src="images/index_icon2.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                                <div class="process_item">
                                    <div class="pro_icon"><img src="images/index_icon3.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case">
            <div class="case_cont" >
                <p class="eng_tlt">
                </p>
                <h2 class="case_tlt">行业案例</h2>
                <div class="case1">
                    <div class="case1_cont" v-for="item in caseData" v-if="caseData[0]&&caseData[0].mainImg">
                        <div class="case1_left caseLeft">
                            <p>{{item.keywords}}</p>
                            <div class="span">{{item.description}}</div>
                        </div>
                        <div class="case1_right caseRight">
                            <img :src="item.mainImg[0].url" class="img-responsive">
                        </div>
                    </div>
                </div>

                <div class="case1">
                    <div class="case1_cont" v-if="caseData[1]&&caseData[1].mainImg">
                        <div class="case1_right case2_left caseLeft">
                            <img :src="caseData[1].mainImg[0].url" class="img-responsive">
                        </div>
                        <div class="case1_left caseRight">
                            <p>{{caseData[1].keywords}}</p>
                            <div class="span">{{caseData[1].description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product_tlt">
                <p class="eng_tlt">
                </p>
                <h2 class="case_tlt">产品中心</h2>
            </div>
            <div class="product_cont">
                <div class="product_left" id="productCase" v-if="productData[0]&&productData[0].mainImg">
                    <img :src="productData[0].mainImg[0].url" class="img-responsive">
                    <div class="left_tlt">
                        <p class="p1">{{productData[0].title}}</p>
                        <div class="p2">{{productData[0].description}} </div>
                    </div>
                </div>
                <div class="product_right" class="img-responsive" id="productCase">
                    <img src="images/product2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="product_cont1">
                <div class="product_left1" id="productCase" v-if="productData[2]&&productData[2].mainImg">
                    <img :src="productData[2].mainImg[0].url" class="img-responsive">
                    <div class="left_tlt">
                        <p class="p1">{{productData[2].title}}</p>
                        <div class="p2">{{productData[2].description}} </div>
                    </div>
                </div>
                <div class="product_right1" class="img-responsive" id="productCase" v-if="productData[3]&&productData[3].mainImg">
                    <div class="right_tlt">
                        <div class="tlt_all">
                            <p class="p1">{{productData[3].title}}</p>
                            <p class="p2">{{productData[3].title}} </p>
                        </div>
                        <a href="detail.html">了解详情</a>
                    </div>
                    <div class="cooper1_img hidden-xs" v-if="productData[3]&&productData[3].mainImg">
                        <img :src="productData[3].mainImg[0].url" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="images/fotter.png" class="img-responsive footer_bg">
            <div class="footer_cont">
                <div class="contact">
                    Contact us
                </div>
                <ul>
                    <li>
                        <img src="images/footer_icon1.png" class="img-responsive">
                        <a>地址：</a>
                        <span>北京市海淀区天秀路10号建设大学1号楼A504 </span>
                    </li>
                    <li>
                        <img src="images/footer_icon2.png" class="img-responsive">
                        <a>电话：</a>
                        <span>010-62670465    010- 64371051  </span>
                    </li>
                    <li>
                        <img src="images/footer_icon3.png" class="img-responsive">
                        <a>邮箱：</a>
                        <span> shixun212@126.com  </span>
                    </li>
                    <li>
                        <img src="images/footer_icon4.png" class="img-responsive">
                        <a>QQ：</a>
                        <span>7837386466 </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript " src="js/bootstrap.js"></script>
    <script src="js/my.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/jquery.stellar.js" type="text/javascript"></script>
    <script src="js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script type="text/babel">
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                bannerData: [],
                productData: [],
                caseData: [],
                labelData: [],
                paginate: {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },
                searchItem: {
                    thirdapp_id: 59,
                    menu_id: 385,
                },
                show_id:'',
                show_child_id:'',
                is_show:false,
                pageArray: [],
                allPages: 0,
                linkPage: '',
                menu:[
                    {   
                        id:1,
                        title:'产品中心',
                        child:[
                            {   
                                id:11,
                                title:'产品中心子菜单1',
                                child:[
                                    {   
                                        id:111,
                                        title:'产品中心子菜单1child'
                                    },
                                    {   
                                        id:112,
                                        title:'产品中心子菜单12child'
                                    }
                                ]
                            },
                            {   
                                id:12,
                                title:'产品中心子菜单2',
                                child:[
                                    {   
                                        id:121,
                                        title:'产品中心子菜单2child'
                                    }
                                ]
                            },
                        ]
                    },
                    {   id:2,
                        title:'案例中心',
                        child:[
                            {   
                                id:21,
                                title:'案例中心子菜单1',
                                child:[
                                    {   
                                        id:211,
                                        title:'案例中心子菜单1child'
                                    }
                                ]
                            },
                            {   
                                id:22,
                                title:'案例中心子菜单2',
                            },
                        ]
                    }
                ]
            }

        },

        created: function() {


            this.getProductData();
            this.getBannerData();
            this.getLabelData();
            this.getCaseData();

        },
        methods: {

            toggleMenu(e){
                var self = this;
                var dataSet = window.base.getDataSet(e);
                if(dataSet.show_id){
                    if(self.show_id==dataSet.show_id){
                        self.show_id = '';
                    }else{
                        self.show_id = dataSet.show_id;
                    };
                }else if(dataSet.show_child_id){
                    if(self.show_child_id==dataSet.show_child_id){
                        self.show_child_id = '';
                    }else{
                        self.show_child_id = dataSet.show_child_id;
                    };
                }else{
                    self.is_show = !self.is_show;
                }
            },



            getProductData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 401,
                };

                var callback = (res) => {
                    self.productData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getCaseData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);
                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 412,
                     keywords:'首页推荐',
                };
                postData.order = {
                            create_time:'desc'
                        };
                var callback = (res) => {
                    self.caseData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                    if(res.info.data.length>2){
                                self.caseData = res.info.data.slice(0,2)
                                self.paginate['count'] = res.total;
                                window.base.computePageArr(self);
                            }else{
                                self.caseData = res.info.data;
                                self.paginate['count'] = res.total;
                                window.base.computePageArr(self);
                            }        
                };
                window.base.articleList(postData, callback);
            },

            getLabelData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = {
                    type: 1,
                
                };
                var callback = (res) => {
                    self.labelData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.labelGet(postData, callback);
            },




            getBannerData() {
                var self = this;

                var postData = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                    searchItem: {
                        thirdapp_id: 59,
                        id: 21
                    }
                };

                var callback = (res) => {
                    self.bannerData = res.info.data[0];
                    console.log(self.bannerData)
                };
                window.base.articleList(postData, callback);
            },


            changePage(e) {
                var self = this;
                var dataSet = window.base.getDataSet(e);
                window.base.changePage(dataSet, self);
            },

            changeMenu(e) {
                var self = this;
                self.paginate = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                };
                self.searchItem.menu_id = window.base.getDataSet(e).id;
                self.getArticleData();
            },

            linkTo(e) {
                var self = this;
                console.log(e);
                self.linkPage = window.base.getDataSet(e).page;
                window.base.linkTo(self);

            },

            intoDetail(e) {
                var self = this;
                var art_id = window.base.getDataSet(e).id;
                window.location.href = "./detail.html?id=" + art_id;
            },

        }
    });
    $(".menu li:eq(1)").addClass("this_li");

    </script>
    <script type="text/javascript">
    window.onload = function () {
        $(".banner").css("height","auto");

    };

    </script>

</body>

</html>