<!DOCTYPE html>
<html lang="en">

<head>
    <title>视讯科技</title>
    <!-- custom-theme -->
    <meta name="baidu-site-verification" content="z8EeuYl0nS" />
    <meta name="keywords" content="视讯科技">
    <meta name="description" content="视讯科技">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //custom-theme -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/basic.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/hover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/base.js" type="application/javascript"></script>
    <style>
    .dropup,
    .dropdown {
        position: none;
    }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <button  @click="toggleMenu">
                menu
            </button>
            <div v-if="is_show">
                <div style="width:100%;border: 1px gray solid"
                    v-for="(item, index) in menu"
                    
                >
                    <div style="width:100%;height:20px;border: 1px gray solid"
                    :data-show_id="item.id"  
                    @click="toggleMenu"
                    >
                        {{item.title}}
                    </div>
                    
                    <div v-if="show_id==item.id&&item.child" v-for="(c_item, c_index) in item.child" >
                        <div 
                        style="width:100%;height:20px;border: 1px gray solid"
                        :data-show_child_id="c_item.id"  
                        @click="toggleMenu"
                        >
                            {{c_item.title}}
                        </div>
                        <div
                            v-if="show_child_id==c_item.id&&c_item.child" 
                            v-for="(cc_item, cc_index) in c_item.child"    
                        >
                            <div style="width:100%;height:20px;border: 1px gray solid">
                                {{cc_item.title}}
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
            <div class="navs">
                <div class="navbox">
                    <div class="nav_container">
                        <a class="phone_logo"><img src="images/logo.png" class="img-responsive"></a>
                        <div class="search">
                            <input type="text" placeholder="请输入关键字" />
                            <div class="search_btn">
                                <img src="images/seach.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="up_icon" data-id="123">
                            <div id="up_icon">
                                <div class="up_span">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sindex_nav">
                            <ul class="navlist fix" id="phone_navlist">
                                <li class="this_li"><a href="inedx.html">首页</a></li>
                                <li class="this_li1">
                                    <a href="product.html" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="">产品中心<span class="caret"></span>
                            </a>
                                    <div class="pageInto menuInto">→</div>
                                    <div class="menu_all dropdown-menu" id="second_menu1" role="menu" aria-labelledby="dropdownMenu1" data-stopPropagation="true">
                                        <div class="nav_container">
                                            <ul class="menu">
                                                <li>
                                                    <a href="#">海洋海事  
                                            </a>
                                                    <dl class="small_menu small_menus">
                                                        <dt><a href="#">海洋海事</a></dt>
                                                        <dt><a href="#">海洋海事</a></dt>
                                                        <dt><a href="#">海洋海事</a></dt>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <a href="#">高速公路 </a>
                                                    <dl class="small_menu small_menus">
                                                        <dt><a href="#">高清视频...</a></dt>
                                                        <dt><a href="#">森林防火</a></dt>
                                                        <dt><a href="#">高清视频...</a></dt>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <a href="#">边海防护</a>
                                                    <dl class="small_menu">
                                                        <dt><a href="#">边海防护</a></dt>
                                                        <dt><a href="#">森林防火</a></dt>
                                                        <dt><a href="#">高铁防护</a></dt>
                                                    </dl>
                                                    <li>
                                                        <a href="#">机场产品</a>
                                                        <dl class="small_menu1">
                                                            <dt><a href="#">电子围栏</a></dt>
                                                            <dt><a href="#">电子围栏</a></dt>
                                                            <dt><a href="#">电子围栏</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">高铁产品</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">高铁防护</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">林业产品</a>
                                                        <dl class="">
                                                            <dt><a href="#">森林防火</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">工业产品  
                                            </a>
                                                        <dl>
                                                            <dt><a href="#">工业测温</a></dt>
                                                            <dt><a href="#">森林防火</a></dt>
                                                            <dt><a href="#">工业测温</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">工地产品</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">工地检测</a></dt>
                                                            <dt><a href="#">工地检测</a></dt>
                                                            <dt><a href="#">工地检测</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">高点监控 </a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">高点监控</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">高点监控</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">高点监控</a></dt>
                                                            <dt><a href="#">森林防火</a></dt>
                                                            <dt><a href="#">森林防火</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">嵌入式板</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">嵌入式板...</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">高点监控</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">高点监控</a></dt>
                                                            <dt><a href="#">森林防火</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                        </dl>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </li>
                                    <li class="this_li2">
                                        <a href="case.html" class="btn dropdown-toggle" id="dropdownMenu2" data-toggle=""> 行业案例<span class="caret"></span></a>
                                        <div class="pageInto menuInto1">→</div>
                                        <div class="menu_all dropdown-menu" id="second_menu2" role="menu" aria-labelledby="dropdownMenu2" data-stopPropagation="true">
                                            <div class="nav_container">
                                                <ul class="menu menu_case">
                                                    <li>
                                                        <a href="detail.html">海洋海事  
                                            </a>
                                                        <dl class="small_menu small_menus">
                                                            <dt><a href="detail.html">海洋海事</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">高速公路 </a>
                                                        <dl class="small_menu small_menus">
                                                            <dt><a href="detail.html">高清视频...</a></dt>
                                                            <dt><a href="detail.html">森林防火</a></dt>
                                                            <dt><a href="detail.html">高清视频...</a></dt>
                                                        </dl>
                                                    </li>
                                                    <li>
                                                        <a href="#">边海防护</a>
                                                        <dl class="small_menu">
                                                            <dt><a href="#">边海防护</a></dt>
                                                            <dt><a href="#">森林防火</a></dt>
                                                            <dt><a href="#">高铁防护</a></dt>
                                                        </dl>
                                                        <li>
                                                            <a href="#">机场产品</a>
                                                            <dl class="small_menu1">
                                                                <dt><a href="#">电子围栏</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">高铁产品</a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">高铁防护</a></dt>
                                                                <dt><a href="#">高铁防护</a></dt>
                                                                <dt><a href="#">高铁防护</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">林业产品</a>
                                                            <dl class="">
                                                                <dt><a href="#">森林防火</a></dt>
                                                                <dt><a href="#">高铁防护</a></dt>
                                                                <dt><a href="#">高铁防护</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">工业产品  
                                            </a>
                                                            <dl>
                                                                <dt><a href="#">工业测温</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">工地产品</a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">工地检测</a></dt>
                                                                <dt><a href="#">工地检测</a></dt>
                                                                <dt><a href="#">工地检测</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">高点监控 </a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">高点监控</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">高点监控</a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">高点监控</a></dt>
                                                                <dt><a href="#">森林防火</a></dt>
                                                                <dt><a href="#">森林防火</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">嵌入式板</a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">嵌入式板...</a></dt>
                                                            </dl>
                                                        </li>
                                                        <li>
                                                            <a href="#">高点监控</a>
                                                            <dl class="small_menu">
                                                                <dt><a href="#">高点监控</a></dt>
                                                                <dt><a href="#">森林防火</a></dt>
                                                                <dt><a href="#">高铁防护</a></dt>
                                                            </dl>
                                                        </li>
                                                </ul>
                                            </div>
                                        </div>
                                        </li>
                                        <li>
                                            <a href="about.html">关于我们</a>
                                        </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" class="active"></li>
                    <li data-target="#carousel-example-generic"></li>
                </ol>
                <div class="banner_rightTxt">
                    <span>SHI XUN KE JI</span>
                </div>
                <div class="carousel-inner" role="listbox">
                    <div v-for="(item, index) in bannerData.mainImg" class="item" :class="index=='0'?'active':''">
                        <img :src="item.url" alt="..." class="img-responsive">
                    </div>
                </div>
                <div class="container">
                    <div class="banner_content">
                        <span>SHI XUN KE JI</span>
                        <p class="hidden-xs">智能交通事件检测器</p>
                        <p class="hidden-xs">视频监控平台</p>
                        <a class="hidden-xs">Intelligent traffic event detector.Video monitoring platform.</a>
                        <div class="watch_video">
                            <a class="">观看视频</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video">
            <!-- <img src="images/video_bg.jpg" class="img-responsive video_bg"> -->
            <div class="video_cont">
                <div class="video_left">
                    <video loop="true">
                        <source src="media/1.mp4" type="video/mp4" style="width:800px;height:100%;">
                    </video>
                </div>
                <div class="video_right">
                    <div class="right_cont">
                        <p class="eng_tlt">
                            OUR ADVANTAGE
                        </p>
                        <p class="zh_tlt">
                            我们的优势
                        </p>
                        <p class="description">
                            文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉
                        </p>
                        <div class="design_process">
                            <div class="design_thread"></div>
                            <div class="design">
                                <div class="process_item">
                                    <div class="pro_icon"><img src="images/index_icon1.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                                <div class="process_item second_process">
                                    <div class="pro_icon"><img src="images/index_icon2.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成人和事业机会,成为行政员工和业务伙伴信心与力量的源泉导人和事业机会,成为行政员工和业为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                                <div class="process_item">
                                    <div class="pro_icon"><img src="images/index_icon3.png"></div>
                                    <div class="process_des">
                                        <div class="des_tlt">视频开发设计</div>
                                        <p>文化与理念、行业地位、营销系统、健康产品、品牌价值、客企一体、市场领导人和事业机会,成为行政员工和业务伙伴信心与力量的源泉</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="case">
            <div class="case_cont">
                <p class="eng_tlt">
                </p>
                <h2 class="case_tlt">行业案例</h2>
                <div class="case1">
                    <div class="case1_cont" v-if="caseData[0]&&caseData[0].mainImg">
                        <div class="case1_left caseLeft">
                            <p>{{caseData[0].keywords}}</p>
                            <span>{{caseData[0].description}}</span>
                        </div>
                        <div class="case1_right caseRight">
                            <img :src="caseData[0].mainImg[0].url" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="case1">
                    <div class="case1_cont" v-if="caseData[1]&&caseData[1].mainImg">
                        <div class="case1_right case2_left caseLeft">
                            <img :src="caseData[1].mainImg[0].url" class="img-responsive">
                        </div>
                        <div class="case1_left caseRight">
                            <p>{{caseData[1].keywords}}</p>
                            <span>{{caseData[1].description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product_tlt">
                <p class="eng_tlt">
                </p>
                <h2 class="case_tlt">产品中心</h2>
            </div>
            <div class="product_cont">
                <div class="product_left" id="productCase" v-if="productData[0]&&productData[0].mainImg">
                    <img :src="productData[0].mainImg[0].url" class="img-responsive">
                    <div class="left_tlt">
                        <p class="p1">{{productData[0].title}}</p>
                        <div class="p2">{{productData[0].description}} </div>
                    </div>
                </div>
                <div class="product_right" class="img-responsive" id="productCase">
                    <img src="images/product2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="product_cont1">
                <div class="product_left1" id="productCase" v-if="productData[2]&&productData[2].mainImg">
                    <img :src="productData[2].mainImg[0].url" class="img-responsive">
                    <div class="left_tlt">
                        <p class="p1">{{productData[2].title}}</p>
                        <div class="p2">{{productData[2].description}} </div>
                    </div>
                </div>
                <div class="product_right1" class="img-responsive" id="productCase" v-if="productData[3]&&productData[3].mainImg">
                    <div class="right_tlt">
                        <div class="tlt_all">
                            <p class="p1">{{productData[3].title}}</p>
                            <p class="p2">{{productData[3].title}} </p>
                        </div>
                        <a href="detail.html">了解详情</a>
                    </div>
                    <div class="cooper1_img hidden-xs" v-if="productData[3]&&productData[3].mainImg">
                        <img :src="productData[3].mainImg[0].url" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="images/fotter.png" class="img-responsive footer_bg">
            <div class="footer_cont">
                <div class="contact">
                    Contact us
                </div>
                <ul>
                    <li>
                        <img src="images/footer_icon1.png" class="img-responsive">
                        <a>地址：</a>
                        <span>北京市海淀区天秀路10号建设大学1号楼A504 </span>
                    </li>
                    <li>
                        <img src="images/footer_icon2.png" class="img-responsive">
                        <a>电话：</a>
                        <span>010-62670465    010- 64371051  </span>
                    </li>
                    <li>
                        <img src="images/footer_icon3.png" class="img-responsive">
                        <a>邮箱：</a>
                        <span> shixun212@126.com  </span>
                    </li>
                    <li>
                        <img src="images/footer_icon4.png" class="img-responsive">
                        <a>QQ：</a>
                        <span>7837386466 </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript " src="js/bootstrap.js"></script>
    <script src="js/my.js"></script>
    <script src="js/rem.js"></script>
    <script src="js/jquery.stellar.js" type="text/javascript"></script>
    <script src="js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                bannerData: [],
                productData: [],
                caseData: [],
                labelData: [],
                paginate: {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },
                searchItem: {
                    thirdapp_id: 59,
                    menu_id: 385,
                },
                show_id:'',
                show_child_id:'',
                is_show:false,
                pageArray: [],
                allPages: 0,
                linkPage: '',
                menu:[
                    {   
                        id:1,
                        title:'产品中心',
                        child:[
                            {   
                                id:11,
                                title:'产品中心子菜单1',
                                child:[
                                    {   
                                        id:111,
                                        title:'产品中心子菜单1child'
                                    },
                                    {   
                                        id:112,
                                        title:'产品中心子菜单12child'
                                    }
                                ]
                            },
                            {   
                                id:12,
                                title:'产品中心子菜单2',
                                child:[
                                    {   
                                        id:121,
                                        title:'产品中心子菜单2child'
                                    }
                                ]
                            },
                        ]
                    },
                    {   id:2,
                        title:'案例中心',
                        child:[
                            {   
                                id:21,
                                title:'案例中心子菜单1',
                                child:[
                                    {   
                                        id:211,
                                        title:'案例中心子菜单1child'
                                    }
                                ]
                            },
                            {   
                                id:22,
                                title:'案例中心子菜单2',
                            },
                        ]
                    }
                ]
            }

        },

        created: function() {


            this.getProductData();
            this.getBannerData();
            this.getLabelData();
            this.getCaseData();

        },
        methods: {

            toggleMenu(e){
                var self = this;
                var dataSet = window.base.getDataSet(e);
                if(dataSet.show_id){
                    if(self.show_id==dataSet.show_id){
                        self.show_id = '';
                    }else{
                        self.show_id = dataSet.show_id;
                    };
                }else if(dataSet.show_child_id){
                    if(self.show_child_id==dataSet.show_child_id){
                        self.show_child_id = '';
                    }else{
                        self.show_child_id = dataSet.show_child_id;
                    };
                }else{
                    self.is_show = !self.is_show;
                }
            },



            getProductData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 401,
                };

                var callback = (res) => {
                    self.productData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getCaseData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = window.base.cloneForm(self.searchItem);

                postData.searchItem = {
                    thirdapp_id: 59,
                    menu_id: 412,
                };

                var callback = (res) => {
                    self.caseData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.articleList(postData, callback);
            },

            getLabelData() {
                var self = this;
                var postData = window.base.cloneForm(self.paginate);
                postData.searchItem = {
                    type: 1,
                    parentid: 386
                };
                var callback = (res) => {
                    self.labelData = res.info.data;
                    self.paginate['count'] = res.total;
                    window.base.computePageArr(self);
                };
                window.base.labelGet(postData, callback);
            },




            getBannerData() {
                var self = this;

                var postData = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                    searchItem: {
                        thirdapp_id: 59,
                        id: 21
                    }
                };

                var callback = (res) => {
                    self.bannerData = res.info.data[0];
                    console.log(self.bannerData)
                };
                window.base.articleList(postData, callback);
            },


            changePage(e) {
                var self = this;
                var dataSet = window.base.getDataSet(e);
                window.base.changePage(dataSet, self);
            },

            changeMenu(e) {
                var self = this;
                self.paginate = {
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                };
                self.searchItem.menu_id = window.base.getDataSet(e).id;
                self.getArticleData();
            },

            linkTo(e) {
                var self = this;
                console.log(e);
                self.linkPage = window.base.getDataSet(e).page;
                window.base.linkTo(self);

            },

            intoDetail(e) {
                var self = this;
                var art_id = window.base.getDataSet(e).id;
                window.location.href = "./detail.html?id=" + art_id;
            },

        }
    });



    var w = $(window).width();
    if (w > 768) {


        $("#second_menu1").hover(function() {
            $(this).show();
        }, function() {
            $(this).hide();
        });
        $("#second_menu2").hover(function() {
            $(this).show();

        }, function() {
            $(this).hide();
        })


        $(".this_li1").hover(function() {
            $("#second_menu1").show();
            $("#second_menu2").hide();

        });

        $(".this_li2").hover(function() {
            $("#second_menu2").show();
            $("#second_menu1").hide();
        });

    }

    if (w <= 768) {
        $(".menu li").click(function() {
            $(".menu dl").hide();
            $(this).find("dl").toggle();
        })
        $(".this_li1 a").attr("data-toggle", "dropdown");
        $(".this_li2 a").attr("data-toggle", "dropdown")
    }

    $("#up_icon").click(function() {
        $(".index_nav").toggle();
    });

    $(".menu li:eq(9)").css("clear", "both");
    $(".menu_case li:eq(9)").css("clear", "both");

    $("body").on('click', '[data-stopPropagation]', function(e) {
        e.stopPropagation();
    });
    $(".menuInto").click(function() {
        window.location.href = 'product.html';
    })
    $(".menuInto1").click(function() {
        window.location.href = 'case.html';
    })
    </script>
    <script type="text/javascript">
    // $(window).resize(function(){  
    //   window.location.reload(); //刷新当前页面  
    // });
    </script>
    <script type="text/javascript">
    // var w=$(window).width();
    //   if(w>768){
    //       var li = $('.menu li'); //获取这12个标签；
    //       for (var i = 0; i<3; i++) {
    //           var ul = $('<ul>'); //创建ul
    //           ul.append(li.eq(i*3));
    //           ul.append(li.eq(i*3+1));
    //           $('.menu').append(ul);
    //       }
    //       var li = $('.menus li'); //获取这12个标签；
    //       for (var i = 0; i<3; i++) {
    //           var ul = $('<ul>'); //创建ul
    //           ul.append(li.eq(i*3));
    //           ul.append(li.eq(i*3+1));
    //           $('.menus').append(ul);
    //       }
    //   }
    </script>
</body>

</html>